body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: gray;
}
.container{
  border: 5px solid black;
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 15px; 

 }
h1 {
  color: blue;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  margin-top: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}
.make{
  border: 15px;
  margin: 10px;
  background-color: green;
  padding: 10px;
}
.make:hover {
  border-radius: 10px; 
  padding: 12px;
}
.reser{
  border: 15px;
  margin: 10px;
  background-color: #806400;
  padding: 10px;
}
.reser:hover{
  border-radius: 10px;
  padding: 12px;
}
.back{
  border: 15px;
  margin: 10px;
  background-color: #80001a;
  color: white;
  padding: 10px;
}
.back:hover{
  border-radius: 10px;
  padding: 12px;
}
.graf{
  border: 15px;
  margin: 10px;
  background-color: #007780;
  color: white;
  padding: 10px;
}
.graf:hover{
  border-radius: 10px;
  padding: 12px;
}
.cadas{
  margin-left: 20px;
  
}
.var{
  border: 15px;
  margin: 20px;
  background-color: #87CEEB;
  padding: 10px;
}
.var:hover {
  border-radius: 10px; 
  padding: 12px;
}
.table{
border: 5px solid black;
}
